#checkout_block {
	position: relative;
	text-align: center;
	float: left;
	margin-top: 1%;
	margin-bottom: 1%;
	border: 1px solid;
	border-radius: 5px;
	padding: 5px;
}
	
.checkout_left_block {
	position:relative;
	text-align: center;
	margin-top: 1%;
	width: 50%;
	float:left;
}

.checkout_right_block {
	position:relative;
	width: 50%;
	margin-top: 1%;
	text-align: center;
	float:left;
}